.footer{
    width: 100%;
     background-color: #f9f8f6;


    .footer-container{
        margin: 0 auto;
        padding: 3rem 0;
        width: 95%;
        display: flex;
        flex-direction: column;
        gap: 4rem;

        .footer-top{
            display: grid;
            grid-template-columns: 50% 50%;

            .left{
                img{
                    width: 250px;
                }
            }

            .right{
                display: grid;
                grid-template-columns: 50% 50%;
                

                .footer-navigation{
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;

                    h2{
                        margin-bottom: .5rem;
                    }

                    a{
                        text-decoration: none;
                        color: #333;
                             transition: .3s ease;

                    &:hover{
                               color:#865f1d ;

                    }
                    }
                }
            }

            

        }

        .footer-bottom{
             width: 95%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #333;

            .right{
                p{
                    cursor: pointer;
                    transition: .3s ease;

                    &:hover{
                               color:#865f1d ;

                    }
                }
            }
        }
    }
}

        @media (max-width: 768px) {
    .footer{

        .footer-container{

            .footer-top{
                display: flex;
                flex-direction: column;
                gap: 1rem;
                // margin: 0 auto;

                .left{
                    margin: 0 auto;
                    margin-bottom: 3rem;
                }

                .right{
                    display: flex;
                    flex-direction: column;
                    gap: 3rem;
                    width: 80%;
                    margin: 0 auto;
                }
            }
        }

        .footer-bottom{
            flex-direction: column;
            gap: 1.25rem;
        }

    }
}